### Hi

My name is {{name}} and today is {{date}}. I am from {{location}} and work as a {{job}} at {{company}}.

I learnt how to code from the {{school}} bootcamp.

- 🔭  I’m currently working on building some personal projects like an API for 5G roll outs around the world, e-commerce website, gym booking system and fantasy premier league dashboard
- 🌱  I’m currently learning JavaScript, Ruby on Rails and React

Things I code with:
<img alt="Heroku" src="https://img.shields.io/badge/-Heroku-430098?style=flat-square&logo=heroku&logoColor=white" />
